.posts
  margin: auto
  max-width: global-max-width
  font-size: 1rem
  line-height: 1.75
  h2
    margin: 0
    margin-top: 1rem
  ul
    list-style: none
    margin: 0
    padding: 0
    li
      margin: 0
      padding: .5rem 0 .5rem .5rem
      text-decoration: none

.time
  color: grey
